:root{
  --primary: rgba(0, 0, 0, 0.75);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: linear-gradient(140deg, var(--primary), var(--primary)),
              url('./Components/Assets/Images/bg4.jpg') center center / cover;
}


.App {
  text-align: center;
}